.button-add-to-card{
    position: relative;
    bottom: 0;
    background-color: green;
    height: 50px;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor:pointer;
    padding: 0 45px;
}

.button-add-to-card:hover{
    opacity: 0.8;
    transition: all ease-in-out 0.2s;
}