.button-add-to-card{
    background-color: #f80032;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor:pointer;
    padding: 10px 20px;
}

.button-add-to-card:hover{
    opacity: 0.8;
    transition: all ease-in-out 0.2s;
}

.btn-primary{
    background-color: #f80032;

}

.btn-secundary{
    background-color: #fff;
    color: #000;
    border: 2px solid #f80032;
}