.cart-container{
  margin-top: 80px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productItems-container{
  max-width: 900px;
  padding: 10px;
  border-radius: 10px;
  border:1px solid #f80032;
  margin: 10px auto;
}
.cart-container p {
  font-weight: 600;
  margin: 10px auto ;
  text-align: right;
}